.signup__form
	position: absolute
	width: 300px
	top: 100px
	left: 50%
	margin-left: -150px

.signup__buttons
	.column-6
		padding: 0px
		padding-right: 2.5px
	.column-6:nth-child(2)
		padding-right: 0px
		padding-left: 2.5px